* {
	text-decoration: none;
	font-family: "Lucida Grande"; 
}

body {
	text-decoration: none;
	padding: 0;
	margin:0;
}

#first p {
	margin-right: auto;
	margin-left: auto;
	max-width: 35em;
	line-height: 1.5em;
	margin-bottom: 3em;
}

#get{
	font-weight: 900;
	font-size: 1em;
	height: 2.5em;

}

header {
	display: flex;
	justify-content: space-between;
}

#prev {
	visibility: hidden;
	display: inline-block;
}

#cost {
	visibility: hidden;
}

main {
	position:absolute;
	z-index: -1;
	top:0;
}

.container {
	width: 100vw;
	height: 100vh;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

h3 {
	font-size: 36px;
	text-transform: uppercase;
	color: #6DD7E4;
}

.but {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap:wrap;

}

button {
	background-color: #ADC9E9;
	border-radius: 3em;
	height: 5em;
	width: 13em;
	border: none;
	margin: 0.75em;
}

button:focus {
	outline:none;
}

button:hover {
	background-color: #333685;
	color: #fff;
}

h4 {
	font-size: 36px;
}

form {
	margin-top: 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	box-sizing: border-box;
	background-color: transparent;
	border: solid 1px #fff;
	border-radius: 3em;
	margin-bottom: 1em;
	font-size: 14px;
	color: #fff;
	height: 2.6em;
	width: 19em;
	padding: 0 1em;
}

input:focus {
	outline: none;
}

input:last-child {
	background-color: #B9D2ED;
	color: #000;
	border: none;
	margin: 1.5em;
}

#first {
	background-size: cover;
	background-image: url(image/mainbg.png);
	background-color: #1E1F3D;
	color: #fff; 
}

#os {
	display: none;
	background-color: #B9D2ED; 
}

#screen {
	display: none;
	background-color: #E4F1FE; 
	background-image: url(image/screenbg.png);
	background-size: cover;
}

#design {
	display: none;
	background-color: #5F619C;
	color: #fff;
}

#api {
	display: none;
	background-color: #B9D2EE;
}

#aa {
	display: none;
	background-image: url(image/aabg.png);
	background-color: #E4F1FE;
}

#ff {
	display: none;
	background-color: #5F619C;
	color: #fff;
}

#dates {
	display: none;
	background-color: #B9D2ED;
}

#social {
	display: none;
	background-color: #E4F1FE;
	background-image: url(image/socialbg.png);
	background-size: cover;
}

#ecom {
	display: none;
	background-color: #5F619C;
	color: #fff;
}

#media {
	display: none;
	background-color: #B9D2EE;
}

#admin {
	display: none;
	background-color: #E4F1FE;
	background-image: url(image/adminbg.png);
	background-size: cover;
}

#security {
	display: none;
	background-color: #5F619C;
	color: #fff;
}

#estimate {
	display: none;
	background-color: #1E1F3D;
	background-image: url(image/estimatebg.png);
	background-size: cover;
	color: #fff;
}