* {
	text-decoration: none;
	font-family: "Lucida Grande"; 
}

body {
	text-decoration: none;
	padding: 0;
	margin:0;
}

#first p {
	margin-right: auto;
	margin-left: auto;
	width: 35em;
	line-height: 1.5em;
	margin-bottom: 3em;
}

#get{
	font-weight: 900;
	font-size: 1em;
	height: 2.5em;

}

header {
	display: flex;
	justify-content: space-between;
}

#prev {
	visibility: hidden;
	display: inline-block;
}

#cost {
	visibility: hidden;
}

main {
	position:absolute;
	z-index: -1;
	top:0;
}

.container {
	width: 100vw;
	height: 100vh;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

h3 {
	font-size: 36px;
	text-transform: uppercase;
	color: #6DD7E4;
}

button {
	background-color: #ADC9E9;
	border-radius: 3em;
	height: 5em;
	width: 13em;
	border: none;
	margin: 1em;
}

button:hover {
	background-color: #333685;
	color: #fff;
}

h4 {
	font-size: 36px;
}

#first {
	background-position: center;
	background-image: url(image/mainbg.png);
	background-color: #1E1F3D;
	color: #fff; 
}

#os {
	display: none;
	background-color: #B9D2ED; 
}

#screen {
	display: none;
	background-color: #E4F1FE; 
	background-image: url(image/screenbg.png);
	background-position: center left;
	background-size: 150%;
}

#design {
	display: none;
	background-color: #5F619C;
	color: #fff;
}

#api {
	display: none;
	background-color: #B9D2EE;
}

#aa {
	display: none;
	background-color: #E1EFFC;
}

#ff {
	display: none;
	background-color: #5F619C;
	color: #fff;
}

#dates {
	display: none;
	background-color: #B9D2EE;
}

#social {
	display: none;
	background-color: #DFEBF9;
}

#ecom {
	display: none;
	background-color: #5F619C;
	color: #fff;
}

#media {
	display: none;
	background-color: #B9D2EE;
}

#admin {
	display: none;
	background-color: #E4F0FE;
}

#security {
	display: none;
	background-color: #5F619C;
	color: #fff;
}

#estimate {
	display: none;
	background-color: #282947;
}