* {
    text-decoration: none;
    color: inherit;
    font-family: Raleway;
}

a:hover {
    text-decoration: underline;
}

body {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.content-wrapper {
    padding: 0;
    margin: 0 10%;
}

.main-page p {
    font-size: 24pt;
    margin-right: auto;
    margin-left: auto;
    max-width: 30em;
    line-height: 1.5em;
    margin-bottom: 3em;
}

.start-button {
    color: #A7BBDD;
    font-weight: bold;
    font-size: 18px;
    height: 53px;
    width: 272px;
    color: #1E1F3D;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.previous-button {
    margin: 0 3%;
    font-size: 18.8px;
    display: flex;
    align-items: center;
}

.previous-button img {
    float: left;
    width: 1em;
    display: inline;
    margin-right: 3px;
}

.rough-estimate-block {
    margin: 0 3%;
    font-size: 18px;
    text-align: right;
}

.rough-estimate-block>p {
    margin-bottom: 3px;
}

.rough-estimate-block p:last-child {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.page-container {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.main-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-image: url(../image/backgrounds/mainbg.png);
    background-color: #1E1F3D;
    color: #fff;
}

.page-wrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
}

h3 {
    font-size: 36pt;
    text-transform: uppercase;
    color: #6DD7E4;
}

.buttons-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    background-color: #ADC9E9;
    border-radius: 3em;
    height: 103px;
    width: 272px;
    border: none;
    margin: 20px;
    font-size: 20px;
    color: #1E1F3D;
}

button:focus {
    outline: none;
}



.active-button {
    background-color: #333685;;
    color: #fff;
}

h4 {
    font-size: 36pt;
}

form {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    box-sizing: border-box;
    background-color: transparent;
    border: solid 1px #fff;
    border-radius: 3em;
    margin-top: 1em;
    font-size: 18px;
    color: #fff;
    height: 58px;
    width: 403px;
    padding: 0 1em;
}

input:focus {
    outline: none;
}

input:last-child {
    background-color: #B9D2ED;
    color: #000;
    border: none;
    margin: 2em;
    font-weight: bold;
}


.error-border {
    border: solid red 3px;
}

.wrong-email-message {
    display: none;
    color: red;
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
}

.error-message {
    display: block;
}

.mob-operating-system-page,
.dates-location-page {
    background-color: #B9D2ED;
}

.mob-operating-system-page a,
.dates-location-page a {
    color: #5F619C;
}


.number-of-screens-page {
    background-color: #E4F1FE;
    background-image: url(../image/backgrounds/screenbg.png);
    background-size: cover;
    color: #1E1F3D;
}

.number-of-screens-page a {
    color: #5F619C;
}

.interface-design-page,
.functionality-features-page,
.billing-ecommers-page,
.security-reliability-page {
    background-color: #5F619C;
    color: #fff;
}

.interface-design-page a,
.functionality-features-page a,
.billing-ecommers-page a,
.security-reliability-page a {
    color: #A7BBDD;
}


.api-integrations-page,
.used-multimedia-page {
    background-color: #B9D2EE;
    color: #1E1F3D;
}

.api-integrations-page a,
.used-multimedia-page a {
    color: #5F619C;
}


.authentication-page {
    background-image: url(../image/backgrounds/aabg.png);
    background-color: #E4F1FE;
    color: #1E1F3D;
}

.authentication-page a {
    color: #5F619C;
}

.social-engagement-page {
    background-color: #E4F1FE;
    background-image: url(../image/backgrounds/socialbg.png);
    background-size: cover;
    color: #1E1F3D;
}

.social-engagement-page a {
    color: #5F619C;
}

.administration-analitics-page {
    background-color: #E4F1FE;
    background-image: url(../image/backgrounds/adminbg.png);
    background-size: cover;
    color: #1E1F3D;
}

.administration-analitics-page a {
    color: #5F619C;
}

.final-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #1E1F3D;
    background-image: url(../image/backgrounds/estimatebg.png);
    background-size: cover;
    color: #fff;
    font-size: 24px;
}