* {
    text-decoration: none;
    font-family: "Lucida Grande";
}

a:active,
a:hover,
a:focus,
a {
    text-decoration: none;
    color: inherit;
    cursor: default;
    padding: 0em;
}

body {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.main-page p {
    margin-right: auto;
    margin-left: auto;
    max-width: 35em;
    line-height: 1.5em;
    margin-bottom: 3em;
}

.start-button {
    font-weight: 900;
    font-size: 1em;
    height: 2.5em;
}

header {
    display: flex;
    justify-content: space-between;
}

.previous-button {
    margin: 0 3%;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.previous-button img {
    float: left;
    width: 1.3em;
    display: inline;
}

.rough-estimate-block {
    margin: 0 3%;
    font-size: 14px;
    text-align: right;
}

.rough-estimate-block>p {
    margin-bottom: 3px;
}

.rough-estimate-block p:last-child {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.main-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-image: url(../image/backgrounds/mainbg.png);
    background-color: #1E1F3D;
    color: #fff;
}

.page-wrapper {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-size: 36px;
    text-transform: uppercase;
    color: #6DD7E4;
}

.buttons-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons-wrapper a {
    margin: 0.5em;
}

button {
    background-color: #ADC9E9;
    border-radius: 3em;
    height: 5em;
    width: 13em;
    border: none;
    margin: 0em;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #333685;
    color: #fff;
}

.active-button {
    background-color: #333685;
    color: #fff;
}

h4 {
    font-size: 36px;
}

form {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    box-sizing: border-box;
    background-color: transparent;
    border: solid 1px #fff;
    border-radius: 3em;
    margin-bottom: 1em;
    font-size: 14px;
    color: #fff;
    height: 2.6em;
    width: 19em;
    padding: 0 1em;
}

input:focus {
    outline: none;
}

input:last-child {
    background-color: #B9D2ED;
    color: #000;
    border: none;
    margin: 1.5em;
}

.mob-operating-system,
.dates-location {
    background-color: #B9D2ED;
}

.number-of-screens {
    background-color: #E4F1FE;
    background-image: url(../image/backgrounds/screenbg.png);
    background-size: cover;
}

.interface-design,
.functionality-features,
.billing-ecommers,
.security-reliability {
    background-color: #5F619C;
    color: #fff;
}

.api-integrations,
.used-multimedia {
    background-color: #B9D2EE;
}

.authentication {
    background-image: url(../image/backgrounds/aabg.png);
    background-color: #E4F1FE;
}

.social-engagement {
    background-color: #E4F1FE;
    background-image: url(../image/backgrounds/socialbg.png);
    background-size: cover;
}

.administration-analitics {
    background-color: #E4F1FE;
    background-image: url(../image/backgrounds/adminbg.png);
    background-size: cover;
}

.final-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #1E1F3D;
    background-image: url(../image/backgrounds/estimatebg.png);
    background-size: cover;
    color: #fff;
}

@media only screen and (max-width: 500px) {
    h3,
    h4 {
        font-size: 30px;
        margin: 1em;
    }

    .main-page p {
        font-size: 14px;
    }
}